#canvas {
    position: fixed;
    top: 50px;
    left: 550px;
}

*/
/* The container must be positioned relative: */


/* Custom dropdown */

.custom-dropdown {
    font-size: 1.1em;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-dropdown select {
    background-color: #1abc9c;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button;
    /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after {
    /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before {
    /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0, 0, 0, .3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0, 0, 0, .1);
}

.custom-dropdown::before {
    background-color: rgba(0, 0, 0, .15);
}

.custom-dropdown::after {
    color: rgba(0, 0, 0, .4);
}


/*main*/

body {
    overflow-y: overlay;
    -ms-overflow-style: -ms-autohiding-scrollbar
}

body.pushable>.pusher {
    background-color: #fafafa
}

#header-background {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1
}

#page-title {
    font-size: 4rem;
    font-weight: lighter
}

#search-bar-wrapper {
    text-align: center;
    background-color: #333;
    overflow: hidden;
}

#search-bar-wrapper .header-logo {
    text-align: center;
    padding: 10px 70px;
}

#search-bar-wrapper .title {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    text-align: left;
    color: #f2f2f2;
    padding: 30px 0px 0px 40px;
}

#search-bar-wrapper .filter {
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 27px 10px;
    text-decoration: none;
    font-size: 17px;
}

#search-bar-wrapper .tag {
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 35px 10px;
    text-decoration: none;
    font-size: 17px;
}

.ui.form.flex-form {
    display: flex;
    margin: 0;
    align-items: center
}

.ui.form.flex-form .fluid.input {
    flex: auto;
    margin-left: 20px
}

.ui.icons.dropdown .icon {
    margin: unset
}

.ui.inverted.main.segment {
    border: 1px solid transparent;
    border-top-width: 2px
}

.ui.main.segment {
    transition: all .3s;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15);
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15)
}

.ui.main.segment.raised {
    -webkit-box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .2), 0 2px 10px 0 rgba(34, 36, 38, .25);
    box-shadow: 0 2px 4px 0 rgba(34, 36, 38, .2), 0 2px 10px 0 rgba(34, 36, 38, .25)
}

.ui.padded.nav.segment {
    padding-left: 2em;
    padding-right: 2em
}

.ui.link.list .item,
.ui.link.list .item a:not(.ui),
.ui.link.list a.item {
    color: rgba(0, 0, 0, .6)
}

.ui.header>.icon {
    font-size: 1.2em
}

#sidebar-logo {
    width: 96px
}

.ui.top.upper.attached.button {
    border-width: 0;
    border-radius: 0 .28571429rem .28571429rem 0;
    position: absolute;
    top: 1.5rem;
    left: 0;
    z-index: 2
}

.ui.menu .item {
    line-height: unset
}

@media only screen and (max-width:767px) {
    .ui.mobile.hide {
        display: none
    }
}

@media only screen and (min-width:767px) {
    .ui.mobile.only {
        display: none
    }
}

.ui.edged.menu {
    border-radius: 0!important
}

#modal-logo {
    max-width: 256px
}

.ui.large.modal .header {
    font-size: 2em
}

.ui.large.modal .content {
    font-size: 1.15em
}

.social.button {
    text-shadow: none;
    background-image: none;
    color: #fff
}

.social.button:hover {
    color: #fff;
    text-shadow: none
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col .top10 {
    flex-grow: 1;
    /* Try to resize window < 600px */
    min-width: 200px;
    /* Below is not important */
    background-color: pink;
    color: white;
    margin: 15px;
    min-height: 50vh;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(204, 192, 194);
    color: white;
}

#top10 {
    flex-grow: 1;
    /* Try to resize window < 600px */
    min-width: 100px;
    margin-top: 20px;
    margin-left: 45px;
    margin-right: 10px;
    min-height: 70vh;
    text-align: center;
}

#wordcloud {
    flex-grow: 1;
    /* Try to resize window < 600px */
    min-width: 200px;
    background-color: rgb(252, 248, 249);
    margin-top: 20px;
    margin-left: 55px;
    min-height: 70vh;
    text-align: center;
}

#heatmap {
    flex-grow: 1;
    /* Try to resize window < 600px */
    min-width: 200px;
    margin: 30px;
    min-height: 90vh;
    text-align: center;
}